certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
idna==2.6
jason==0.1.7
matplotlib==2.1.2
numpy==1.14.0
pandas==0.22.0
psycopg2==2.7.3.2
py2neo==3.1.2
PyMySQL==0.8.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
urllib3==1.22
